<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Template Website</title>
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body>
    <!-- THIS WEBSITE IS MOSTLY RUN BY 36 LINES OF CSS (1st), 22 LINES OF JAVASCRIPT (2nd) and 14 lines of HTML(-1 COMMENT AND 3rd PLACE OR LAST PLACE) MEANING 72 LINES OF CODE IN TOTAL-->
    <header><button id="run">START</button></header>
    <footer id="footer"></footer>
    <script src="../scripts/index.js" type="module"></script>
  </body>
</html>
